### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
**/.DS_Store
**/.do_pool/**
**/.do_pool
**/*#JDEVADF_*
**/*~
**/*.scc
**/*.mv.*
**/*.unmkelem.*
**/*.sync.*
**/*.rename.*
**/*.unbranch.*
**/*.unco.*
**/*.saved.*
**/*.client_contrib
**/.svn/**
**/.data/**
**/*.cdi
**/*.bak
**/*.generated.java
**/*.ignore
**/*.labellog.emd
**/.*.cs
**/.fullsource_nt
**/.fullsource
**/.depprod_nt
**/.depprod
**/.ade_path
**/.ade_path/**
**/*.contrib*
**/*.keep
**/*.rvi
**/.#*
**/CVS/**
